@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.but {
    width: 120px;
    height: 40px;

    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

    color: #696969;
    background-color: #f5f5f5;

    border-radius: 3px;
    border: 1px solid #778899;

    cursor: pointer;

    -webkit-transition: background 150ms linear;
    -webkit-transition: border 150ms linear;
    -webkit-transition: color 150ms linear;

}
.but:hover {
    background-color: #f9f9f9;
    border: 1px solid silver;
    -webkit-transition: background 150ms linear;
    -webkit-transition: border 150ms linear;
}

.but:active {
    border: 1px solid darkslategray;
    color: darkslategray;

    -webkit-transition: background 150ms linear;
    -webkit-transition: border 150ms linear;
    -webkit-transition: color 150ms linear;
}

.sharp {
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.soft-rounded {
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.medium-rounded {
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.rounded {
    border-radius: 20px;
    -webkit-border-radius: 20px;
}

.small-sized {
    width: 100px;
    height: 30px;
    font-size: 15px;
}

.medium-sized {
    width: 125px;
    height: 36px;
    font-size: 16px;
}

.large-sized {
    width: 150px;
    height: 45px;
    font-size: 18px;
}
.full-width{
    width: 100%;
}

.text-only {
    background-color: transparent;
    color: #191970;
    border: 0px;
}

.text-only:hover {
    background-color: transparent;
    border: 0px;
    color: #191970;
    text-decoration: underline;
}

.text-only:active {
    background-color: transparent;
    border: 0px;
    color: mediumblue;
    text-decoration: underline;
}

.warning {
    background-color: #FF7D40;
    color: white;
    border: 1px #FF7D40 solid;
}

.warning:hover {
    background-color: #FF9663;
    color: white;
    border: 1px #FF9663 solid;
}

.warning:active {
    background-color: #FF6103;
    color: white;
    border: 1px #FF6103 solid;
}

.alert {
    background-color: #FB3261;
    color: white;
    border: 1px #FB3261 solid;
}

.alert:hover {
    background-color: #FE527A;
    color: white;
    border: 1px #FE527A solid;
}

.alert:active {
    background-color: #FF7999;
    color: white;
    border: 1px #FF7999 solid;
}

.success {
    background-color: #4EBC55;
    color: white;
    border: 1px #4EBC55 solid;
}

.success:hover {
    background-color: #63DA6B;
    color: white;
    border: 1px #63DA6B solid;
}

.success:active {
    background-color: #7EEE85;
    color: white;
    border: 1px #7EEE85;
}

.information {
    background-color: #38BCEE;
    color: white;
    border: 1px #38BCEE solid;
}

.information:hover {
    background-color: #58CEFB;
    color: white;
    border: 1px #58CEFB solid;
}

.information:active {
    background-color: #7FDBFF;
    color: white;
    border: 1px #7FDBFF solid;
}

.primary {
    background-color: #007FFF;
    color: white;
    border: 1px #007FFF solid;
}

.primary:hover {
    background-color: #3A99FC;
    color: white;
    border: 1px #3A99FC solid;
}

.primary:active {
    background-color: #1085FF;
    color: white;
    border: 1px #1085FF solid;
}

.secondary {
    background-color: #868AAA;
    color: white;
    border: 1px #868AAA solid;
}

.secondary:hover {
    background-color: #BBBFDF;
    color: white;
    border: 1px #BBBFDF solid;
}

.secondary:active {
    background-color: #CFD4F3;
    color: white;
    border: 1px #CFD4F3 solid;
}

.but:disabled {
    background-color: silver;
    color: #f5f5f5;
    border: 1px silver solid;
    cursor: not-allowed;
}

.but:disabled:hover {
    background-color: silver;
    color: #f5f5f5;
    border: 1px silver solid;
    cursor: not-allowed;
}

.but.text-only:disabled {
    border: 0px;
    background-color: transparent;
    color: gray;
}

.but.text-only:disabled:hover {
    border: 0px;
    background-color: transparent;
    color: gray;
    text-decoration: none;
}

.text-hidden {
    color: transparent;
}

.text-hidden:hover {
    color: transparent;
}

.text-hidden:active {
    color: transparent;
}

.but:disabled.text-hidden {
    color: transparent;
}

.but:disabled.hiddenSpace {
    background-color: transparent;
    color: transparent;
    border: transparent;
    cursor: auto;
}

.but:disabled.hiddenSpace:hover {
    background-color: transparent;
    color: transparent;
    border: transparent;
}
.warning-icon:before{
    font-family: FontAwesome;
    content: "\f071";
    color:#f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 16px;
}
.alert-icon:before{
    font-family: FontAwesome;
    content: "\f071";
    color:#f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}
.small-sized.warning-icon:before{
    font-family: FontAwesome;
    content: "\f071";
    color:#f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 16px;
}
.alert-icon:before{
    font-family: FontAwesome;
    content: "\f05c";
    color:#f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}
.small-sized.alert-icon:before{
    font-family: FontAwesome;
    content: "\f05c";
    color:#f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}
.information-icon:before{
    font-family: FontAwesome;
    content: "\f05a";
    color:#f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}
.small-sized.information-icon:before{
    font-family: FontAwesome;
    content: "\f05a";
    color:#f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}
.success-icon:before{
    font-family: FontAwesome;
    content: "\f046";
    color:#f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}
.small-sized.success-icon:before{
    font-family: FontAwesome;
    content: "\f046";
    color:#f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 16px;
}
.loading-icon:before{
    font-family: FontAwesome;
    content: "\f110";
    color:#f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;

    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
.refresh-icon:before{
    font-family: FontAwesome;
    content: "\f021";
    color:#f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;

    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

