@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);

@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.but {
    min-width: 130px;
    height: 40px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #696969;
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #778899;
    cursor: pointer;

    -webkit-transition: background 150ms linear;
    -webkit-transition: border 150ms linear;
    -webkit-transition: color 150ms linear;

}

.but:hover {
    background-color: #f9f9f9;
    border: 1px solid silver;
    -webkit-transition: background 150ms linear;
    -webkit-transition: border 150ms linear;
}

.but:active {
    border: 1px solid darkslategray;
    color: darkslategray;

    -webkit-transition: background 150ms linear;
    -webkit-transition: border 150ms linear;
    -webkit-transition: color 150ms linear;
}

.sharp {
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.soft-rounded {
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.medium-rounded {
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.rounded {
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.extra-small-sized{
width: 100px;
height:25px;
font-size: 14px;
}
.small-sized {
    width: 100px;
    height: 30px;
    font-size: 15px;
}

.medium-sized {
    width: 125px;
    height: 36px;
    font-size: 16px;
}

.large-sized {
    width: 150px;
    height: 45px;
    font-size: 18px;
}
.extra-large-sized{
   width: 170px;
    height: 55px;
    font-size: 20px;
}

.full-width {
    width: 100%;
}

.text-only {
    background-color: transparent;
    color: #191970;
    border: 0px;
}

.text-only:hover {
    background-color: transparent;
    border: 0px;
    color: #191970;
    text-decoration: underline;
}

.text-only:active {
    background-color: transparent;
    border: 0px;
    color: mediumblue;
    text-decoration: underline;
}

.warning {
    background-color: #FF7D40;
    color: white;
    border: 1px #FF7D40 solid;
}

.warning:hover {
    background-color: #FF9663;
    color: white;
    border: 1px #FF9663 solid;
}

.warning:active {
    background-color: #FF6103;
    color: white;
    border: 1px #FF6103 solid;
}

.alert {
    background-color: #FB3261;
    color: white;
    border: 1px #FB3261 solid;
    transition: background-color 150ms linear;
}

.alert:hover {
    background-color: #FE527A;
    color: white;
    border: 1px #FE527A solid;
    transition: background-color 150ms linear;
}

.alert:active {
    background-color: #FF7999;
    color: white;
    border: 1px #FF7999 solid;
    transition: background-color 150ms linear;
}

.success {
    background-color: #4EBC55;
    color: white;
    border: 1px #4EBC55 solid;
}

.success:hover {
    background-color: #63DA6B;
    color: white;
    border: 1px #63DA6B solid;
}

.success:active {
    background-color: #7EEE85;
    color: white;
    border: 1px #7EEE85;
}

.information {
    background-color: #38BCEE;
    color: white;
    border: 1px #38BCEE solid;
}

.information:hover {
    background-color: #58CEFB;
    color: white;
    border: 1px #58CEFB solid;
}

.information:active {
    background-color: #7FDBFF;
    color: white;
    border: 1px #7FDBFF solid;
}

.primary {
    background-color: #007FFF;
    color: white;
    border: 1px #007FFF solid;
}

.primary:hover {
    background-color: #3A99FC;
    color: white;
    border: 1px #3A99FC solid;
}

.primary:active {
    background-color: #1085FF;
    color: white;
    border: 1px #1085FF solid;
}

.secondary {
    background-color: #868AAA;
    color: white;
    border: 1px #868AAA solid;
}

.secondary:hover {
    background-color: #BBBFDF;
    color: white;
    border: 1px #BBBFDF solid;
}

.secondary:active {
    background-color: #CFD4F3;
    color: white;
    border: 1px #CFD4F3 solid;
}

.but:disabled {
    background-color: silver;
    color: #f5f5f5;
    border: 1px silver solid;
    cursor: not-allowed;
}

.but:disabled:hover {
    background-color: silver;
    color: #f5f5f5;
    border: 1px silver solid;
    cursor: not-allowed ;
}

.but.text-only:disabled {
    border: 0px;
    background-color: transparent;
    color: gray;
}

.but.text-only:disabled:hover {
    border: 0px;
    background-color: transparent;
    color: gray;
    text-decoration: none;
}

.text-hidden {
    color: transparent;
}

.text-hidden:hover {
    color: transparent;
}

.text-hidden:active {
    color: transparent;
}

.but:disabled.text-hidden {
    color: transparent;
}

.but:disabled.hiddenSpace {
    background-color: transparent;
    color: transparent;
    border: transparent;
    cursor: default;
}

.but:disabled.hiddenSpace:hover {
    background-color: transparent;
    color: transparent;
    border: transparent;
}

.but.warning-icon:before,
.text-only.warning-icon:before {
    font-family: FontAwesome;
    content: "\f071";
    color: #778899;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}

.warning.warning-icon:before,
.alert.warning-icon:before,
.information.warning-icon:before,
.success.warning-icon:before,
.primary.warning-icon:before,
.secondary.warning-icon:before {
    font-family: FontAwesome;
    content: "\f071";
    color: #f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 16px;
}

.but.alert-icon:before,
.text-only.alert-icon:before {
    font-family: FontAwesome;
    content: "\f05c";
    color: #778899;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}

.warning.alert-icon:before,
.alert.alert-icon:before,
.information.alert-icon:before,
.success.alert-icon:before,
.primary.alert-icon:before,
.secondary.alert-icon:before {
    font-family: FontAwesome;
    content: "\f05c";
    color: #f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}

.but.information-icon:before,
.text-only.information-icon:before {
    font-family: FontAwesome;
    content: "\f046";
    color: #778899;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}

.warning.information-icon:before,
.alert.information-icon:before,
.information.information-icon:before,
.success.information-icon:before,
.primary.information-icon:before,
.secondary.information-icon:before {
    font-family: FontAwesome;
    content: "\f05a";
    color: #f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}

.but.success-icon:before,
.text-only.success-icon:before {
    font-family: FontAwesome;
    content: "\f046";
    color: #778899;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}

.warning.success-icon:before,
.alert.success-icon:before,
.information.success-icon:before,
.success.success-icon:before,
.primary.success-icon:before,
.secondary.success-icon:before {
    font-family: FontAwesome;
    content: "\f046";
    color: #f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;
}

.but.loading-icon:before,
.text-only.loading-icon:before {
    font-family: FontAwesome;
    content: "\f110";
    color: #778899;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;

    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.warning.loading-icon:before,
.alert.loading-icon:before,
.information.loading-icon:before,
.success.loading-icon:before,
.primary.loading-icon:before,
.secondary.loading-icon:before {
    font-family: FontAwesome;
    content: "\f110";
    color: #f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;

    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.but.refresh-icon:before,
.text-only.refresh-icon:before {
    font-family: FontAwesome;
    content: "\f021";
    color: lightgray;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;

    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.warning.refresh-icon:before,
.alert.refresh-icon:before,
.information.refresh-icon:before,
.success.refresh-icon:before,
.primary.refresh-icon:before,
.secondary.refresh-icon:before {
    font-family: FontAwesome;
    content: "\f021";
    color: #f5f5f5;
    font-style: normal;
    font-weight: normal;
    margin-right: 7px;
    font-size: 18px;

    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
.grad{
    color: #FFF;
    border: 0px;
}
.warning.grad {
    background: -moz-linear-gradient(top, rgba(255, 125, 64, 1) 1%, rgba(255, 125, 64, 1) 9%, rgba(255, 125, 64, 0.89) 24%, rgba(251, 111, 45, 0.7) 50%, rgba(243, 88, 14, 0.96) 94%, rgba(243, 88, 14, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 125, 64, 1)), color-stop(9%, rgba(255, 125, 64, 1)), color-stop(24%, rgba(255, 125, 64, 0.89)), color-stop(50%, rgba(251, 111, 45, 0.7)), color-stop(94%, rgba(243, 88, 14, 0.96)), color-stop(100%, rgba(243, 88, 14, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 125, 64, 1) 1%, rgba(255, 125, 64, 1) 9%, rgba(255, 125, 64, 0.89) 24%, rgba(251, 111, 45, 0.7) 50%, rgba(243, 88, 14, 0.96) 94%, rgba(243, 88, 14, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 125, 64, 1) 1%, rgba(255, 125, 64, 1) 9%, rgba(255, 125, 64, 0.89) 24%, rgba(251, 111, 45, 0.7) 50%, rgba(243, 88, 14, 0.96) 94%, rgba(243, 88, 14, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 125, 64, 1) 1%, rgba(255, 125, 64, 1) 9%, rgba(255, 125, 64, 0.89) 24%, rgba(251, 111, 45, 0.7) 50%, rgba(243, 88, 14, 0.96) 94%, rgba(243, 88, 14, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 125, 64, 1) 1%, rgba(255, 125, 64, 1) 9%, rgba(255, 125, 64, 0.89) 24%, rgba(251, 111, 45, 0.7) 50%, rgba(243, 88, 14, 0.96) 94%, rgba(243, 88, 14, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7d40', endColorstr='#f3580e', GradientType=0);
}

.warning.grad:hover {
    background: -moz-linear-gradient(top, rgba(243, 88, 14, 1) 0%, rgba(243, 88, 14, 0.96) 6%, rgba(251, 111, 45, 0.7) 50%, rgba(255, 125, 64, 0.89) 76%, rgba(255, 125, 64, 1) 91%, rgba(255, 125, 64, 1) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 88, 14, 1)), color-stop(6%, rgba(243, 88, 14, 0.96)), color-stop(50%, rgba(251, 111, 45, 0.7)), color-stop(76%, rgba(255, 125, 64, 0.89)), color-stop(91%, rgba(255, 125, 64, 1)), color-stop(99%, rgba(255, 125, 64, 1)));
    background: -webkit-linear-gradient(top, rgba(243, 88, 14, 1) 0%, rgba(243, 88, 14, 0.96) 6%, rgba(251, 111, 45, 0.7) 50%, rgba(255, 125, 64, 0.89) 76%, rgba(255, 125, 64, 1) 91%, rgba(255, 125, 64, 1) 99%);
    background: -o-linear-gradient(top, rgba(243, 88, 14, 1) 0%, rgba(243, 88, 14, 0.96) 6%, rgba(251, 111, 45, 0.7) 50%, rgba(255, 125, 64, 0.89) 76%, rgba(255, 125, 64, 1) 91%, rgba(255, 125, 64, 1) 99%);
    background: -ms-linear-gradient(top, rgba(243, 88, 14, 1) 0%, rgba(243, 88, 14, 0.96) 6%, rgba(251, 111, 45, 0.7) 50%, rgba(255, 125, 64, 0.89) 76%, rgba(255, 125, 64, 1) 91%, rgba(255, 125, 64, 1) 99%);
    background: linear-gradient(to bottom, rgba(243, 88, 14, 1) 0%, rgba(243, 88, 14, 0.96) 6%, rgba(251, 111, 45, 0.7) 50%, rgba(255, 125, 64, 0.89) 76%, rgba(255, 125, 64, 1) 91%, rgba(255, 125, 64, 1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3580e', endColorstr='#ff7d40', GradientType=0);
}

.warning.grad:active {
    background-color: #FF7D40;
}

.alert.grad {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZiMzI2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2ZiMzI2MSIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjkyMTUzIiBzdG9wLW9wYWNpdHk9IjAuNzkiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZjUwMDM5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1MDAzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(251, 50, 97, 1) 1%, rgba(251, 50, 97, 0.9) 24%, rgba(249, 33, 83, 0.79) 50%, rgba(245, 0, 57, 1) 99%, rgba(245, 0, 57, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(251, 50, 97, 1)), color-stop(24%, rgba(251, 50, 97, 0.9)), color-stop(50%, rgba(249, 33, 83, 0.79)), color-stop(99%, rgba(245, 0, 57, 1)), color-stop(100%, rgba(245, 0, 57, 1)));
    background: -webkit-linear-gradient(top, rgba(251, 50, 97, 1) 1%, rgba(251, 50, 97, 0.9) 24%, rgba(249, 33, 83, 0.79) 50%, rgba(245, 0, 57, 1) 99%, rgba(245, 0, 57, 1) 100%);
    background: -o-linear-gradient(top, rgba(251, 50, 97, 1) 1%, rgba(251, 50, 97, 0.9) 24%, rgba(249, 33, 83, 0.79) 50%, rgba(245, 0, 57, 1) 99%, rgba(245, 0, 57, 1) 100%);
    background: -ms-linear-gradient(top, rgba(251, 50, 97, 1) 1%, rgba(251, 50, 97, 0.9) 24%, rgba(249, 33, 83, 0.79) 50%, rgba(245, 0, 57, 1) 99%, rgba(245, 0, 57, 1) 100%);
    background: linear-gradient(to bottom, rgba(251, 50, 97, 1) 1%, rgba(251, 50, 97, 0.9) 24%, rgba(249, 33, 83, 0.79) 50%, rgba(245, 0, 57, 1) 99%, rgba(245, 0, 57, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb3261', endColorstr='#f50039', GradientType=0);
}

.alert.grad:hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1MDAzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZjUwMDM5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjkyMTUzIiBzdG9wLW9wYWNpdHk9IjAuNzkiLz4KICAgIDxzdG9wIG9mZnNldD0iNzYlIiBzdG9wLWNvbG9yPSIjZmIzMjYxIiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNmYjMyNjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(245, 0, 57, 1) 0%, rgba(245, 0, 57, 1) 1%, rgba(249, 33, 83, 0.79) 50%, rgba(251, 50, 97, 0.9) 76%, rgba(251, 50, 97, 1) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 0, 57, 1)), color-stop(1%, rgba(245, 0, 57, 1)), color-stop(50%, rgba(249, 33, 83, 0.79)), color-stop(76%, rgba(251, 50, 97, 0.9)), color-stop(99%, rgba(251, 50, 97, 1)));
    background: -webkit-linear-gradient(top, rgba(245, 0, 57, 1) 0%, rgba(245, 0, 57, 1) 1%, rgba(249, 33, 83, 0.79) 50%, rgba(251, 50, 97, 0.9) 76%, rgba(251, 50, 97, 1) 99%);
    background: -o-linear-gradient(top, rgba(245, 0, 57, 1) 0%, rgba(245, 0, 57, 1) 1%, rgba(249, 33, 83, 0.79) 50%, rgba(251, 50, 97, 0.9) 76%, rgba(251, 50, 97, 1) 99%);
    background: -ms-linear-gradient(top, rgba(245, 0, 57, 1) 0%, rgba(245, 0, 57, 1) 1%, rgba(249, 33, 83, 0.79) 50%, rgba(251, 50, 97, 0.9) 76%, rgba(251, 50, 97, 1) 99%);
    background: linear-gradient(to bottom, rgba(245, 0, 57, 1) 0%, rgba(245, 0, 57, 1) 1%, rgba(249, 33, 83, 0.79) 50%, rgba(251, 50, 97, 0.9) 76%, rgba(251, 50, 97, 1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f50039', endColorstr='#fb3261', GradientType=0);

}

.alert.grad:active {
    background-color: #F50039;
}

.information.grad {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmZGJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjN2ZkYmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNWNjY2Y3IiBzdG9wLW9wYWNpdHk9IjAuNzkiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjMzliZGVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAxJSIgc3RvcC1jb2xvcj0iIzM4YmNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(127, 219, 255, 1) 0%, rgba(127, 219, 255, 1) 1%, rgba(92, 204, 247, 0.79) 50%, rgba(57, 189, 238, 1) 99%, rgba(56, 188, 238, 1) 101%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(127, 219, 255, 1)), color-stop(1%, rgba(127, 219, 255, 1)), color-stop(50%, rgba(92, 204, 247, 0.79)), color-stop(99%, rgba(57, 189, 238, 1)), color-stop(101%, rgba(56, 188, 238, 1)));
    background: -webkit-linear-gradient(top, rgba(127, 219, 255, 1) 0%, rgba(127, 219, 255, 1) 1%, rgba(92, 204, 247, 0.79) 50%, rgba(57, 189, 238, 1) 99%, rgba(56, 188, 238, 1) 101%);
    background: -o-linear-gradient(top, rgba(127, 219, 255, 1) 0%, rgba(127, 219, 255, 1) 1%, rgba(92, 204, 247, 0.79) 50%, rgba(57, 189, 238, 1) 99%, rgba(56, 188, 238, 1) 101%);
    background: -ms-linear-gradient(top, rgba(127, 219, 255, 1) 0%, rgba(127, 219, 255, 1) 1%, rgba(92, 204, 247, 0.79) 50%, rgba(57, 189, 238, 1) 99%, rgba(56, 188, 238, 1) 101%);
    background: linear-gradient(to bottom, rgba(127, 219, 255, 1) 0%, rgba(127, 219, 255, 1) 1%, rgba(92, 204, 247, 0.79) 50%, rgba(57, 189, 238, 1) 99%, rgba(56, 188, 238, 1) 101%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fdbff', endColorstr='#38bcee', GradientType=0);

}

.information.grad:hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSItMSUiIHN0b3AtY29sb3I9IiMzOGJjZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzM5YmRlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzVjY2NmNyIgc3RvcC1vcGFjaXR5PSIwLjc5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzdmZGJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZmRiZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(56, 188, 238, 1) -1%, rgba(57, 189, 238, 1) 1%, rgba(92, 204, 247, 0.79) 50%, rgba(127, 219, 255, 1) 99%, rgba(127, 219, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%, rgba(56, 188, 238, 1)), color-stop(1%, rgba(57, 189, 238, 1)), color-stop(50%, rgba(92, 204, 247, 0.79)), color-stop(99%, rgba(127, 219, 255, 1)), color-stop(100%, rgba(127, 219, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(56, 188, 238, 1) -1%, rgba(57, 189, 238, 1) 1%, rgba(92, 204, 247, 0.79) 50%, rgba(127, 219, 255, 1) 99%, rgba(127, 219, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(56, 188, 238, 1) -1%, rgba(57, 189, 238, 1) 1%, rgba(92, 204, 247, 0.79) 50%, rgba(127, 219, 255, 1) 99%, rgba(127, 219, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(56, 188, 238, 1) -1%, rgba(57, 189, 238, 1) 1%, rgba(92, 204, 247, 0.79) 50%, rgba(127, 219, 255, 1) 99%, rgba(127, 219, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(56, 188, 238, 1) -1%, rgba(57, 189, 238, 1) 1%, rgba(92, 204, 247, 0.79) 50%, rgba(127, 219, 255, 1) 99%, rgba(127, 219, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38bcee', endColorstr='#7fdbff', GradientType=0);
}

.information.grad:active {
    background-color: #38BCEE;
}

.success.grad {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzZGE2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjNjNkYTZiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNTljYjYwIiBzdG9wLW9wYWNpdHk9IjAuNzkiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjNGViZDU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAxJSIgc3RvcC1jb2xvcj0iIzRlYmM1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(99, 218, 107, 1) 0%, rgba(99, 218, 107, 1) 1%, rgba(89, 203, 96, 0.79) 50%, rgba(78, 189, 85, 1) 99%, rgba(78, 188, 85, 1) 101%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(99, 218, 107, 1)), color-stop(1%, rgba(99, 218, 107, 1)), color-stop(50%, rgba(89, 203, 96, 0.79)), color-stop(99%, rgba(78, 189, 85, 1)), color-stop(101%, rgba(78, 188, 85, 1)));
    background: -webkit-linear-gradient(top, rgba(99, 218, 107, 1) 0%, rgba(99, 218, 107, 1) 1%, rgba(89, 203, 96, 0.79) 50%, rgba(78, 189, 85, 1) 99%, rgba(78, 188, 85, 1) 101%);
    background: -o-linear-gradient(top, rgba(99, 218, 107, 1) 0%, rgba(99, 218, 107, 1) 1%, rgba(89, 203, 96, 0.79) 50%, rgba(78, 189, 85, 1) 99%, rgba(78, 188, 85, 1) 101%);
    background: -ms-linear-gradient(top, rgba(99, 218, 107, 1) 0%, rgba(99, 218, 107, 1) 1%, rgba(89, 203, 96, 0.79) 50%, rgba(78, 189, 85, 1) 99%, rgba(78, 188, 85, 1) 101%);
    background: linear-gradient(to bottom, rgba(99, 218, 107, 1) 0%, rgba(99, 218, 107, 1) 1%, rgba(89, 203, 96, 0.79) 50%, rgba(78, 189, 85, 1) 99%, rgba(78, 188, 85, 1) 101%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63da6b', endColorstr='#4ebc55', GradientType=0);
}

.success.grad:hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSItMSUiIHN0b3AtY29sb3I9IiM0ZWJjNTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzRlYmQ1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU5Y2M2MCIgc3RvcC1vcGFjaXR5PSIwLjc5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzYzZGE2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2M2RhNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(78, 188, 85, 1) -1%, rgba(78, 189, 85, 1) 1%, rgba(89, 204, 96, 0.79) 50%, rgba(99, 218, 107, 1) 99%, rgba(99, 218, 107, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%, rgba(78, 188, 85, 1)), color-stop(1%, rgba(78, 189, 85, 1)), color-stop(50%, rgba(89, 204, 96, 0.79)), color-stop(99%, rgba(99, 218, 107, 1)), color-stop(100%, rgba(99, 218, 107, 1)));
    background: -webkit-linear-gradient(top, rgba(78, 188, 85, 1) -1%, rgba(78, 189, 85, 1) 1%, rgba(89, 204, 96, 0.79) 50%, rgba(99, 218, 107, 1) 99%, rgba(99, 218, 107, 1) 100%);
    background: -o-linear-gradient(top, rgba(78, 188, 85, 1) -1%, rgba(78, 189, 85, 1) 1%, rgba(89, 204, 96, 0.79) 50%, rgba(99, 218, 107, 1) 99%, rgba(99, 218, 107, 1) 100%);
    background: -ms-linear-gradient(top, rgba(78, 188, 85, 1) -1%, rgba(78, 189, 85, 1) 1%, rgba(89, 204, 96, 0.79) 50%, rgba(99, 218, 107, 1) 99%, rgba(99, 218, 107, 1) 100%);
    background: linear-gradient(to bottom, rgba(78, 188, 85, 1) -1%, rgba(78, 189, 85, 1) 1%, rgba(89, 204, 96, 0.79) 50%, rgba(99, 218, 107, 1) 99%, rgba(99, 218, 107, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ebc55', endColorstr='#63da6b', GradientType=0);
}
.success.grad:active {
    background-color: #4EBC55;
}

.primary.grad{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhOTlmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjM2E5OWZjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMWU4Y2ZkIiBzdG9wLW9wYWNpdHk9IjAuNzkiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjMDE4MGZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAxJSIgc3RvcC1jb2xvcj0iIzAwN2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(58,153,252,1) 0%, rgba(58,153,252,1) 1%, rgba(30,140,253,0.79) 50%, rgba(1,128,255,1) 99%, rgba(0,127,255,1) 101%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,153,252,1)), color-stop(1%,rgba(58,153,252,1)), color-stop(50%,rgba(30,140,253,0.79)), color-stop(99%,rgba(1,128,255,1)), color-stop(101%,rgba(0,127,255,1)));
    background: -webkit-linear-gradient(top,  rgba(58,153,252,1) 0%,rgba(58,153,252,1) 1%,rgba(30,140,253,0.79) 50%,rgba(1,128,255,1) 99%,rgba(0,127,255,1) 101%);
    background: -o-linear-gradient(top,  rgba(58,153,252,1) 0%,rgba(58,153,252,1) 1%,rgba(30,140,253,0.79) 50%,rgba(1,128,255,1) 99%,rgba(0,127,255,1) 101%);
    background: -ms-linear-gradient(top,  rgba(58,153,252,1) 0%,rgba(58,153,252,1) 1%,rgba(30,140,253,0.79) 50%,rgba(1,128,255,1) 99%,rgba(0,127,255,1) 101%);
    background: linear-gradient(to bottom,  rgba(58,153,252,1) 0%,rgba(58,153,252,1) 1%,rgba(30,140,253,0.79) 50%,rgba(1,128,255,1) 99%,rgba(0,127,255,1) 101%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a99fc', endColorstr='#007fff',GradientType=0 );
}
.primary.grad:hover{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSItMSUiIHN0b3AtY29sb3I9IiMwMDdmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzAxODBmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzFlOGRmZSIgc3RvcC1vcGFjaXR5PSIwLjc5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzNhOTlmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTk5ZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,127,255,1) -1%, rgba(1,128,255,1) 1%, rgba(30,141,254,0.79) 50%, rgba(58,153,252,1) 99%, rgba(58,153,252,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,rgba(0,127,255,1)), color-stop(1%,rgba(1,128,255,1)), color-stop(50%,rgba(30,141,254,0.79)), color-stop(99%,rgba(58,153,252,1)), color-stop(100%,rgba(58,153,252,1)));
    background: -webkit-linear-gradient(top,  rgba(0,127,255,1) -1%,rgba(1,128,255,1) 1%,rgba(30,141,254,0.79) 50%,rgba(58,153,252,1) 99%,rgba(58,153,252,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,127,255,1) -1%,rgba(1,128,255,1) 1%,rgba(30,141,254,0.79) 50%,rgba(58,153,252,1) 99%,rgba(58,153,252,1) 100%);
    background: -ms-linear-gradient(top,  rgba(0,127,255,1) -1%,rgba(1,128,255,1) 1%,rgba(30,141,254,0.79) 50%,rgba(58,153,252,1) 99%,rgba(58,153,252,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,127,255,1) -1%,rgba(1,128,255,1) 1%,rgba(30,141,254,0.79) 50%,rgba(58,153,252,1) 99%,rgba(58,153,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fff', endColorstr='#3a99fc',GradientType=0 );
}
.primary.grad:active{
    background-color: #007FFF;
}
.secondary.grad{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjYmJiZmRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYTFhNWM1IiBzdG9wLW9wYWNpdHk9IjAuNzkiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjODc4YmFiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg2OGFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(187,191,223,1) 0%, rgba(187,191,223,1) 1%, rgba(161,165,197,0.79) 50%, rgba(135,139,171,1) 99%, rgba(134,138,170,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,191,223,1)), color-stop(1%,rgba(187,191,223,1)), color-stop(50%,rgba(161,165,197,0.79)), color-stop(99%,rgba(135,139,171,1)), color-stop(100%,rgba(134,138,170,1)));
    background: -webkit-linear-gradient(top,  rgba(187,191,223,1) 0%,rgba(187,191,223,1) 1%,rgba(161,165,197,0.79) 50%,rgba(135,139,171,1) 99%,rgba(134,138,170,1) 100%);
    background: -o-linear-gradient(top,  rgba(187,191,223,1) 0%,rgba(187,191,223,1) 1%,rgba(161,165,197,0.79) 50%,rgba(135,139,171,1) 99%,rgba(134,138,170,1) 100%);
    background: -ms-linear-gradient(top,  rgba(187,191,223,1) 0%,rgba(187,191,223,1) 1%,rgba(161,165,197,0.79) 50%,rgba(135,139,171,1) 99%,rgba(134,138,170,1) 100%);
    background: linear-gradient(to bottom,  rgba(187,191,223,1) 0%,rgba(187,191,223,1) 1%,rgba(161,165,197,0.79) 50%,rgba(135,139,171,1) 99%,rgba(134,138,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbfdf', endColorstr='#868aaa',GradientType=0 );

}
.secondary.grad:hover{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2OGFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjODc4YmFiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYTFhNWM1IiBzdG9wLW9wYWNpdHk9IjAuNzkiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjYmJiZmRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JiYmZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(134,138,170,1) 0%, rgba(135,139,171,1) 1%, rgba(161,165,197,0.79) 50%, rgba(187,191,223,1) 99%, rgba(187,191,223,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(134,138,170,1)), color-stop(1%,rgba(135,139,171,1)), color-stop(50%,rgba(161,165,197,0.79)), color-stop(99%,rgba(187,191,223,1)), color-stop(100%,rgba(187,191,223,1)));
    background: -webkit-linear-gradient(top,  rgba(134,138,170,1) 0%,rgba(135,139,171,1) 1%,rgba(161,165,197,0.79) 50%,rgba(187,191,223,1) 99%,rgba(187,191,223,1) 100%);
    background: -o-linear-gradient(top,  rgba(134,138,170,1) 0%,rgba(135,139,171,1) 1%,rgba(161,165,197,0.79) 50%,rgba(187,191,223,1) 99%,rgba(187,191,223,1) 100%);
    background: -ms-linear-gradient(top,  rgba(134,138,170,1) 0%,rgba(135,139,171,1) 1%,rgba(161,165,197,0.79) 50%,rgba(187,191,223,1) 99%,rgba(187,191,223,1) 100%);
    background: linear-gradient(to bottom,  rgba(134,138,170,1) 0%,rgba(135,139,171,1) 1%,rgba(161,165,197,0.79) 50%,rgba(187,191,223,1) 99%,rgba(187,191,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868aaa', endColorstr='#bbbfdf',GradientType=0 );

}
.secondary.grad:active{
background-color: #868AAA;
}

.but.onlyBorder{
    border: 2px #696969 solid;
    background-color: transparent;
    color: black;
}
.but.onlyBorder:hover{
    border: 2px gray solid;
    background-color: transparent;
    color: #696969;
}
.but.onlyBorder:active{
    border: 2px darfgray solid;
    background-color: transparent;
    color: darkgrey;
}
.warning.onlyBorder{
    border: 2px #FF7D40 solid;
    background-color: transparent;
    color: #FF7D40;
}
.warning.onlyBorder:hover{
    border: 2px #FF9663 solid;
    background-color: transparent;
    color: #FF9663;
}
.warning.onlyBorder:active{
    border: 2px #FF6103 solid;
    background-color: transparent;
    color: #FF6103;
}
.alert.onlyBorder{
    border: 2px #FB3261 solid;
    background-color: transparent;
    color: #FB3261;
}
.alert.onlyBorder:hover{
    border: 2px #FE527A solid;
    background-color: transparent;
    color: #FE527A;
}
.alert.onlyBorder:active{
    border: 2px #FF7999 solid;
    background-color: transparent;
    color: #FF7999;
}
.information.onlyBorder{
    border: 2px #38BCEE solid;
    background-color: transparent;
    color: #38BCEE;
}
.information.onlyBorder:hover{
    border: 2px #58CEFB solid;
    background-color: transparent;
    color: #58CEFB;
}
.information.onlyBorder:active{
    border: 2px #7FDBFF solid;
    background-color: transparent;
    color: #7FDBFF;
}
.success.onlyBorder{
    border: 2px #4EBC55 solid;
    background-color: transparent;
    color: #4EBC55;
}
.success.onlyBorder:hover{
    border: 2px #63DA6B solid;
    background-color: transparent;
    color: #63DA6B;
}
.success.onlyBorder:active{
    border: 2px #7EEE85 solid;
    background-color: transparent;
    color: #7EEE85;
}
.primary.onlyBorder{
    border: 2px #007FFF solid;
    background-color: transparent;
    color: #007FFF;
}
.primary.onlyBorder:hover{
    border: 2px #3A99FC solid;
    background-color: transparent;
    color: #3A99FC;
}
.primary.onlyBorder:active{
    border: 2px #1085FF solid;
    background-color: transparent;
    color: #1085FF;
}
.page-nav{
    min-width: 30px !important;
    width:30px !important;
    height: 30px !important;
}
.page-nav.left:before{
    content:'\003C';
}
.page-nav.right:before{
    content:'\003E';
}